ORANGEHRM_VERSION=5.9

DB_IMAGE=orangehrm/orangehrm-db-images:mariadb-10.11.15-ubuntu-22.04

DB_NAME=orangehrm
DB_USER=orangehrm
DB_PASSWORD=
DB_ROOT_PASSWORD=

APP_PORT=8080

BASE_URL=
ADMIN_USERNAME=
ADMIN_PASSWORD=